   <!--<div>
  Ajouter un commentaire -->
  
  
    <!-- Mettre à jour un commentaire 
    <h3 *ngIf="commentaireAModifier">Mettre à jour le commentaire</h3>
    <input type="text" [(ngModel)]="commentaireAModifier?.object" placeholder="Objet du commentaire" *ngIf="commentaireAModifier">
    <textarea [(ngModel)]="commentaireAModifier?.message" placeholder="Message du commentaire" *ngIf="commentaireAModifier"></textarea>
    <button (click)="mettreAJourCommentaire()" *ngIf="commentaireAModifier">Mettre à jour</button>
    
    <!-- Liste des commentaires
    <h3>Liste des commentaires</h3>
    <ul>
      <li *ngFor="let commentaire of commentairess">
        <p>Objet : {{ commentaire.object }}</p>
        <p>Message : {{ commentaire.message }}</p>
        <p>Date : {{ commentaire.date | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
        <p>User : {{ commentaire.user.nom }}</p>
        <button (click)="setCommentaireAModifier(commentaire)">Modifier</button>
        <button (click)="supprimerCommentaire(commentaire)">Supprimer</button>
      </li>
    </ul>
  </div> -->