<div class="card border-dark mb-3" style="max-width: 50rem; margin-top: 280%;" id="htmlData">
  <div class="card-header bg-dark text-white text-center">
    <h5 class="mb-0">Détails du Panier</h5>
  </div>
  <div class="card-body">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Articles</th>
          <th scope="col">Quantité</th>  
          <!--<th scope="col">Actions</th>-->
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="panierDetails && panierDetails.length > 0; else emptyPanier">
          <ng-container *ngFor="let item of panierDetails">
            <tr>
           
          
              <ul>
                <ng-container *ngFor="let article of item.articles">
                  <td> 
                    <img [src]="article.photo" style=" width: 100%; height: 100%;" alt="Photo de l'article"> 
                          {{ article.titre }} </td>   
                    <div class="d-flex align-items-center ms-auto"> 
                  <td> <button class="btn btn-sm btn-success" (click)="addToCart(article)">
                    <i class="fas fa-plus"></i>
                  </button>
                  &nbsp;
                  <button class="btn btn-sm btn-danger" (click)="removeFromPanier(item.id, article.id)">
               <i class="fas fa-minus" ></i> 
                  </button>
                 </td>
                 </div>
                </ng-container>
              </ul>
              &nbsp;
              <td style="margin-right: 100%;">{{ item.quantitecde }}</td>
          <!-- Espace réservé pour les actions -->
          </tr>
          <tr style="margin-top: 20px;">   <td>  Total : {{ item.totalP }} DT </td> </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-end">
    <button style="background-color: rgb(2, 97, 26);" class="btn btn-success btn-block mt-3" [disabled]="panierDetails.length === 0">
      Payer
    </button>
    <button style="background-color: rgb(2, 97, 26);" class="btn btn-success btn-block mt-3 ms-3" (click)="openPDF()" [disabled]="panierDetails.length === 0">
      Imprimer le PDF
    </button>
    <button style="background-color: rgb(2, 97, 26);" class="btn btn-light btn-block mt-3 ms-3" [disabled]="panierDetails.length === 0">Checkout</button>
  </div>
  <button style="background-color: rgb(2, 97, 26);" class="btn btn-light btn-block mt-3 ms-3 btn-sm btn-danger" *ngFor="let panier of panierDetails" (click)="viderPanier(panier.id)">
    Vider le panier</button>


</div>

<ng-template #emptyPanier>
  <div class="text-center">
    <p>Panier vide</p>
  </div>
</ng-template>
